h1 {
    color: blue;
}
.paragraph {
    font-size: 30px;
}
.parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.child {
    margin: 5px;
    border: 1px dotted black;
}

